body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DBDBDB;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #E5EFE4;
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    font-weight: bold;
    font-size: 25px;
}

/* Logout Button */
.logout-container {
    position: absolute;
    right: 20px;
}

.logout-container a {
    text-decoration: none;
    background-color: #e74c3c;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.logout-container a:hover {
    background-color: #c0392b;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #0E7911;
    padding: 10px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    font-size: 18px;
}

.navbar a:hover {
    background-color: rgb(23, 185, 28);
    border-radius: 5px;
}

/* Rounded Containers */
.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.box1, .box2 {
    width: 250px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

.box1 {
    background-color: #F9C5C5;
}

.box2 {
    background-color: #95DF7A;
}

.value {
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.gauge-container {
position: relative;
width: 280px;
height: 140px; /* Half-circle */
margin: 40px auto;
display: flex;
align-items: center;
justify-content: center;
}

.gauge-text {
position: absolute;
padding-top: 170px;
top: 50%;
transform: translateY(-50%);
font-size: 24px;
font-weight: bold;
color: #333;
}