body { 
    font-family: Arial, sans-serif; 
    margin: 0; padding: 0; 
    background-color: #DBDBDB; 
}
.header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px 40px; 
    background-color: #E5EFE4; 
}
.logo-container { 
    display: flex; 
    align-items: center; 
    gap: 10px; 
}
.logo { 
    font-weight: bold; 
    font-size: 25px; 
}
.logout-container { 
    position: absolute; 
    right: 20px; 
}
.logout-container a { 
    text-decoration: none; 
    background-color: #e74c3c; 
    color: white; 
    padding: 8px 15px; 
    border-radius: 5px; 
    font-size: 16px; 
    font-weight: bold; 
}
.logout-container a:hover { 
    background-color: #c0392b; 
}
.navbar { 
    display: flex; 
    justify-content: center; 
    background-color: #0E7911; 
    padding: 10px 0; 
}
.navbar a { 
    color: white; 
    text-decoration: none; 
    padding: 12px 20px; 
    font-size: 18px; 
}
.navbar a:hover { 
    background-color: rgb(23, 185, 28); 
    border-radius: 5px; 
}
.report-container { 
    width: 60%; 
    margin: 40px auto; 
    background: white; 
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}
.report-container h2 { 
    text-align: center; 
}
.report-table { 
    width: 100%; 
    border-collapse: collapse; 
}
.report-table th, .report-table td { 
    padding: 12px; 
    text-align: center; 
    border: 1px solid #ddd; 
}
.report-table th { 
    background-color: #0E7911; 
    color: white; 
}
.status { 
    font-weight: bold; 
    padding: 5px; 
    border-radius: 5px; 
    display: inline-block; 
    width: 100px; 
}
.status-present { 
    color: green; 
    background-color: #DFF0D8; 
}
.status-absent { 
    color: red; 
    background-color: #F2DEDE; 
}